<div id="question_form" class="input-group">
  <%= form_for(@question) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %><br/>

    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %><br/>

    <%= f.label :category_name %>
    <%= f.text_field :category_name, class: "form-control" %><br/>

    <%= f.hidden_field :category_id %><br/>

    <%= f.hidden_field :user_id %><br/>

    <%= f.submit "Create" %>
  <% end %>
</div>