<div id="question_form" class="input-group">
  <%= form_for(@question) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", id: "question-title" %><br/>

    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", id: "question-content" %><br/>

    <%= f.label :category_id %><br/>
    <%= f.select :category_id do %>
        <% @categories.each do |category| %>
            <%= content_tag(:option, category.name, value: category.id) %>
        <% end %>
    <% end %><br/>

    <%= f.hidden_field :user_id %><br/>


    <button class="btn btn-default" id="preview-button">Preview</button>
    <%= f.submit "Create", class: "btn btn-default" %>
  <% end %>
</div>

<h1 id="preview-title">Question Preview</h1>
<div id="question-preview" class="panel panel-default">



</div>