<div class="panel panel-default">
  <div class="panel-heading">
    <%= render 'votes/new' %>
    <h1><%= @question.title %></h1>
    <%= link_to @question.category.name, @question.category %>
    <h5>by: <%= link_to @question.user.username, @question.user %></h5>
  </div>

  <div class="panel-body">
    <%= @question.content %>
  </div>
  <%= render @question.comments%>
  <%= render partial: 'comments/new', locals: {commentable: @question, comment: Comment.new}%>
</div>

<ul class="list-group">
  <%= render @question.answers %>
</ul>

<div class="answer_form">
  <%= render partial: 'answers/new', locals: {answer: @answer, question: @question} %>
</div>

