<div class="panel panel-default">
  <div class="panel-heading">
    <div class='row'>
      <div class='col-md-1'>
        <%= render partial: 'votes/new', locals: {vote_count: @question.vote_count, voteable_type: 'Question', voteable_id: @question.id} %>
      </div>
      <div class='col-md-11'>
        <h1><%= @question.title %></h1>
        <%= link_to @question.category.name, @question.category %>
        <h5>by: <%= link_to @question.user.username, @question.user %></h5>
      </div>
  </div>

  <div class="panel-body">
    <%= @question.content %>
  </div>
  <%= render @question.comments%>
  <%= render partial: 'comments/new', locals: {commentable: @question, comment: Comment.new}%>
</div>

<ul class="list-group">
  <%= render @question.answers.order(vote_count: :desc) %>
</ul>

<div class="answer_form">
  <%= render partial: 'answers/new', locals: {answer: @answer, question: @question} %>
</div>

