<div class='btn-group-vertical' role='group'>
  <button type='button' class='btn btn-default btn-sm vote-buttons' data-direction='Up' data-voteabletype='<%= voteable_type %>' data-voteableid='<%= voteable_id %>' >
    <span class='fa fa-caret-square-o-up'></span>
  </button>

  <button type='button' class='btn btn-default btn-sm' disabled>
    <span class='vote-count' id='<%= "#{voteable_type}-#{voteable_id}-votecount" %>'><%= vote_count %></span>
  </button>

  <button type='button' class='btn btn-default btn-sm vote-buttons' data-direction='Down' data-voteabletype='<%= voteable_type %>' data-voteableid='<%= voteable_id %>'>
    <span class='fa fa-caret-square-o-down'></span>
  </button>
</div>
