<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'LambOverice', root_url, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Questions', questions_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
       <% if session[:user_id] %>
          <li><%= link_to "Logout", curr_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_session_path %></li>
      <%end%>
    </ul>

    <%= render 'layouts/search_bar' %>

  </div>
</nav>
